<div class="bagian-atas">
  <header>
    <img src="{{ .Site.Params.host }}{{ .Site.Params.Img }}" alt="Profil MuryP | {{ .Params.Description }}" />
    <h1>MuryP <br>Front End Developer</h1>
    <p>
      {{ .Site.Params.Header | safeHTML }}
    </p>
  </header>
  <div class="mybtn">
  <div class="thisBtn">
    <div class="wrapper ">
      <a class="btn gmail"href="#"><span >See More!</span></a>
    </div>
  </div>
      <a href="/">
    <div class="btn gmail">
      <span>
 Contact Me
      </span> 
    </div>
      </a>
    <div class="btn dl">
      <a href="/">
        Download CV</a>
    </div>
  </div>
  {{ partial "home/skill.html" . }}
</div>
