<div class="bagian-atas">
  <header>
    <img
      src="{{ .Site.Params.host }}{{ .Site.Params.Img }}"
      alt="Profil MuryP | {{ .Params.Description }}"
    />
    <h1>MuryP <br />Front End Developer</h1>
    <p>
      {{ .Site.Params.Header | safeHTML }}
    </p>
  </header>

  <div class="mybtn">
    <div class="thisBtn">
      <div class="wrapper">
        <a class="btn gmail" href="#"><span>Contact Me!</span></a>
      </div>
    </div>

    <div class="thisBtn">
      <div class="wrapper">
        <a class="btn dl" href="#"><span>Download!</span></a>
      </div>
    </div>

  </div>
  {{ partial "home/skill.html" . }}
</div>
