@use "variable" as v;
.bagian-atas {
  .btn{//btn khusus atas
    width: 40%;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 25px;
  }
  .mybtn{
    display: flex;
  }
  width: 100vw;
  padding-bottom:50px;
}
// skill
.skill {
  display: inline-flex;
  margin: auto;
  background: v.$bg2;
  position: absolute;
  z-index: 5;
  right: 5vw;
  width: 90vw;
  transform: translate(0,-5px);
  padding: 15px;
  border-radius:15px;
  box-shadow: v.$sd;
}

.skillcont {
  svg {
    min-width: 50px;
    width: 50px;
    padding: 5px;
    box-shadow: v.$sd;
    border-radius: 5px;
    fill:   v.$bg1;
    font-size: 50px
  }
  margin: auto;
}