@use "variable" as v;
.bagian-tengah {
  margin: 50px 15px;
}
  .content {
    display: flex;
    border-radius: 5px;
    box-shadow:v.$sd;
    margin: 25px auto !important;
    padding: 15px;
    width: 80%;

  }
  div.content:hover {
    transform: translate(10px,-10px);
  }
  .myread {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    text-align: left;
  }
  .myread a {
    color: v.$bg1;
  }
  .myread .date {
    margin-right: 30px;
    width: 64px;
    text-align: center;
  }
  .myread .date .day {
    font-weight: 700;
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin: 20px auto;
  }
  .myread .date .rest {
    display: block;
    font-size: 0.75em;
  }
  .nameSite {
    font-size: 40px;
    font-weight: bold;
  }