@use "variable" as v;
// contact
.bungkusLisIcon {
  display: flex;
  padding: 5px 15px;
}

.infoIconList {
  padding: 15px;
  background: v.$bg3;
  height: 50px;
  font-weight: bold;
  color: #fff;
}

.bagian-bawah span {
  background-color: v.$bg1;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
}

// btn new
.thisBtn{
a{
  margin: auto;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: v.$bg1;
  border: 2px solid v.$bg1;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
  font-weight: 500;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(0,36,170);
  transition: all .35s;
  z-index: -1;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}

}
.mybtn {
  a{
  color: #fff;
  border: 1px solid #fff;
  }
  a:hover{
  border: 2px solid #fff !important;
  }
}
