@use "variable" as v;
@media only screen and (min-width:720px) {
  #darkBtn {
    right: 31vw !important;
  }
  .myread {
    grid-template-columns:auto auto
  }
  .bagian-bawah {
    #contact,#about {
      width: 50%;
    }
    display: flex;
    text-align: center;
    margin: auto;
  }
  .bagian-atas {
  .mybtn{
    display: flex;
    padding-left: 200px;
  }

    text-align: left;
  }
.isi-atas {
  display: flex;
}
  .btn {
    text-align: left;
    margin: 15px;
    width:150px!important;
  }
  .main-nav {
    ul {
      li {
        padding: 15px;
        text-align: right;
        margin-right: 0;
      }
      display: inline-flex;
    }
  }
}
