@use "../variable" as v;
.nav {
  height: 40px;
  background-color: cornflowerblue;
  list-style-type: none;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
}

.nav header svg{

  transform: translate(0,8px);
}

.nav nav {
  width: 60%;
  height: 40px;
}

.nav ul {
display: flex;
}
.nav li{
  width: 15%;
  padding: 5px;
}

.nav a.active {
  color: white !important;
  font-weight: bold;
}

.btndark {
  width: 10%;
  text-align: center;

}

.btndark svg{
  fill: white;
  transform: translate(0,8px);
}
.nav {
  height: 40px;
  background-color: cornflowerblue;
  list-style-type: none;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
}

.nav header svg{

  transform: translate(0,8px);
}

.nav nav {
  width: 60%;
  height: 40px;
}

.nav ul {
display: flex;
}
.nav li{
  width: 15%;
  padding: 5px;
}

.nav a.active {
  color: white !important;
  font-weight: bold;
}

.btndark {
  width: 10%;
  text-align: center;

}

.btndark svg{
  fill: white;
  transform: translate(0,8px);
}
