.dark-mode {
  /*default*/
  /*.bagianDalam *, .mynav *{*/
  .nav,
  .bagianDalam p,
  .sosmednav span,
  .kontenNav,
  .spoilerKonten {
    /*default warna dasar*/
    background-color: rgb(27, 27, 27) !important;
    color: rgb(255, 255, 255, 0.5) !important;
    border-color: rgb(255, 255, 255, 0.5) !important;
  }

  article a {
    text-decoration: underline;
  }

  h2,
  .h1myskill,
  strong,
  b,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    /*font mencolok*/
    /*warna tebal*/
    color: rgb(255, 255, 255, 0.8) !important;
  }

  .bagian-bawah,
  .bagian-atas,
  input.widget-search__submit,
  hr,
  .header,
  .pagination a,
  .Total,
  .bagianDalam .btn,
  .btn-2,
  .tag a,
  blockquote,
  .shareTerbang div,
  .headerNav,
  .kontenNav li:hover {
    /* darkblue */
    background: rgb(0, 0, 0, 0.3) !important;
    background-color: rgb(0, 0, 0, 0.3) !important;
    border-color: #000;
    color: rgb(255, 255, 255, 0.7);
  }

  .iconList span,
  .infoIconList {
    background-color: #000 !important;
  }

  /*garis*/
  input.widget-search__field,
  .tag,
  .footerPost,
  label {
    border-color: rgb(255, 255, 255, 0.3) !important;
  }

  ::placeholder {
    color: rgb(255, 255, 255, 0.3) !important;
  }

  :-ms-input-placeholder {
    color: rgb(255, 255, 255, 0.5) !important;
  }

  ::-ms-input-placeholder {
    color: rgb(255, 255, 255, 0.5) !important;
  }

  label::before {
    /*arrow*/
    border-left: 8px solid rgb(255, 255, 255, 0.3);
  }

  /*end garis*/
  span:hover,
  .title-post,
  .btn a,
  .navBtn,
  i.iconShare {
    /* terang */
    background-color: rgb(50, 50, 50) !important ;
  }

  .thisBtn span:hover {
    background-color: rgb(50, 50, 50, 0) !important ;
  }

  .about,
  .skill,
  .blog,
  .tlp,
  .follow,
  .content,
  .bagian-atas {
    box-shadow: 0 0 5px rgb(255, 255, 255, 0.05);
  }

  /* hover */
  a:hover,
  .kontenNav li:hover {
    color: #fff !important;
  }

  #btn-dark {
    transform: rotate(180deg);
  }

  /*end sementara*/

  // start btn bagian atas
  .thisBtn {
    a {
      border-color: rgb(255, 255, 255, 0.5);
    }

    a:after {
      background-color: rgb(255, 255, 255, 0.4) !important;
    }

    a:hover {
      color: #fff !important;
      border-color: #fff !important;
    }
  }
  input#search,
  .grid-container,
  #footer,
  .main {
    background: rgb(255, 255, 255, 0.01);
  }
  span#btn-dark,
  h2.about,
  .skill,
  .blog,
  h2.tag,
  h2.tlp,
  .follow,
  .bungkusLisIcon div:after {
    background-color: rgb(255, 255, 255, 0.2) !important;
  }
  span.btn-icon {
    color: transparent !important;
  }

  /*end default*/

  background-color: rgb(27, 27, 27) !important;
  color: rgb(255, 255, 255, 0.5) !important;
  border-color: rgb(255, 255, 255, 0.5) !important;
}

//scroll
.dark-mode *::-webkit-scrollbar-thumb,
.dark-mode::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.5);
}
