<style type="text/css" media="all">
.dark-mode,.dark-mode #footer{
  background-color: rgb(0,0,0,.9);
  color:rgb(95,95,95,.8) !important;
}
.dark-mode svg{
  fill:rgb(255,255,255,.8);
}
.dark-mode #darkBtn svg{
  transform: rotate(180deg);
}
.dark-mode a{
  color: rgb(255,255,255,.5) !important;
  font-weight: bold;
}
.dark-mode .mynav h2,.dark-mode .main h1,.dark-mode .h1myskill,.dark-mode h1.Contact  {
  color: rgb(255,255,255,.8) !important;
}
.dark-mode .mainPostingan,.dark-mode .mynav span{
  background-color:rgb(0,0,0,.5) !important;
}
 .dark-mode hr,.dark-mode .sosmedplus svg,.dark-mode .header,.dark-mode #navbar,.dark-mode .pagination a,.dark-mode .Total,.dark-mode #ContactForm1 button ,.dark-mode .btn a,.dark-mode .bagianDalam .btn,.dark-mode .kategori a,.dark-mode #footer, .dark-mode blockquote{
/* darkblue */
  background: rgb(0,0,0,.3) !important;
  background-color: rgb(0,0,0,.3) !important;
   border-color: #000;
   color:rgb(255,255,255,.7);
 }
.dark-mode .mynav2 input[id^="nav"] + label::before{
  background-color: rgb(0,0,0,.3) !important;
}
.dark-mode .kategori,.dark-mode .footerPost,.dark-mode #ContactForm1 input,.dark-mode #ContactForm1 textarea{
  border-color:rgb(255,255,255,.3) !important;
}
.dark-mode ::placeholder {
  color:rgb(255,255,255,.3) !important;
}
.dark-mode :-ms-input-placeholder {
  color:rgb(255,255,255,.5) !important;
}
.dark-mode ::-ms-input-placeholder{
  color:rgb(255,255,255,.5) !important;
}
.dark-mode span:hover ,.dark-mode .navku {
/* white */
  background-color:rgb(50,50,50) !important ;
}
.dark-mode .bagianDalam *,.dark-mode .mynav *{
  color: rgb(255,255,255,.5) !important;
  border-color: rgb(255,255,255,.5) !important;
}
.dark-mode strong,.dark-mode b,.dark-mode h1,.dark-mode h2,.dark-mode h3,.dark-mode h4 {
  color: rgb(255,255,255,.5) !important;
}
.dark-mode .content,.dark-mode .BagianAtas{
  box-shadow: 0 0 5px rgb(255,255,255,.07);
}
/* hover */
.dark-mode a:hover{
  color:#fff !important;
}
</style>