<style type="text/css" media="all">
  .BagianAtas {
    background-image: url(/img/bg.png);
    background-color: rgb(0,0,0,.1);
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    border-radius: 0 0 5px 5px;
    color: #00008b;
    padding: 25px 10px;
  }

  .bagianDalam {
    display: block;
  }
.btn span {
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: right;
  display: inline;
  background-size: 40px;
  padding: 25px;
}
  .btn {
    color: rgb(255,255,255,.8);
    background-color: #00008b;
    padding: 10px 20px;
    border-radius: 5px;
  }

  a:hover.btn {
    color: #fff!important
  }

  .bagianDalam p {
    color:rgb(0,0,139,.5) !important;
  }

  #sosmedh {
    margin: 50px auto
  }

  .myskill {
    display: inline-flex;
    align-content: center;
    align-items: center;
    margin: auto
  }

  .myskillcontainer {
    margin: 0 10px 0 10px
  }

  .myskillcontainer svg {
    min-width: 50px;
    width: 50px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 5px;
    fill: rgb(0,0,139,.5);
    font-size: 50px
  }

  .myskillcontainer p {
    margin-top: 15px
  }
  .main {
    max-width: 720px!important;
    text-align: center;
    margin: auto
  }
  .main h1, .h1myskill, h1.Contact {
  padding: 5px;
  color: darkblue !important;
  margin-top: 50px;
  text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Serif !important;
  }

@media only screen and (min-width:720px) {
    .myread {
      grid-template-columns: auto auto
    }}
</style>