    <div id="ContactForm1" class="Contactb">
      <h1 class="Contact">Get in Touch</h1>
      <blockquote>
        Gunakan Telegram lebih aman
      </blockquote>
      <div class='contactkulah'>
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <input placeholder="Your Name" type="text" name="name" />
          </p>
          <p>
            <input placeholder="yourmail@mail.com" type="email" name="email" />
          </p>
          <p>
            <textarea placeholder="Your message..." name="message"></textarea>
          </p>
          <p>
            <button type="submit">Kirim</button>
          </p>
        </form>
      </div>
    </div>