<style>
/* Style the buttonskus */
.btn a{
  
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  <!-- background-color: red; -->
  font-size: 18px;
  text-align: center;
  margin: 0;
}

/* Style the active class, and buttonskus on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: white;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

.topnav .icon {
  display: none;
}

</style>
<h1>Active buttonsku</h1>
<p>Highlight the active/current (pressed) buttonsku.</p>
  
<script>
// Add active class to the current buttonsku (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
</script>

<div id="myDIV myTopnav" class="topnav">
    <a class="btn active" href="#">Home</a>
    <a class="btn" href="#about">About</a>
    <a class="btn" href="#contact">Contact</a>
    <a class="btn" href="#blog">Blog</a>
    <a class="btn" href="#project">Project</a>
</div>

