<div class="header-post">
  {{ if eq .Params.Image "" }}
  <img src="/svg/noimg.svg" alt='{{ .Title }}' />
  {{ else }}
  <img src='{{ .Params.Image}}' alt='{{ .Title }}' />{{end}}
  <div class="author-post">
    <span class="myIcon iconMan" /><a href="/author" name="infoMuryPTop">MuryP</a>
  </div>
  <div class="bottom-right">
    <a href="#">
      <span class="myIcon tanggal" /><time>{{ .Date.Format "02-01-2006" }}</time></a>
  </div>
  <div class="title-post">
    <h1><a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
    </h1>
  </div>
</div>
  {{ if eq .Section "laman" }}
  {{else}}
  {{ partial "post/breadcrumb.html" . }}
  {{end}}
