// contact
.bungkusLisIcon {
  display: flex;
  padding: 5px 15px;
}

.infoIconList {
  padding: 15px;
  background: red;
  height: 50px;
  font-weight: bold;
  color: #fff;
}

.bagian-bawah span {
  background-color: rgba(18, 4, 255, 0.4);
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
}

.bungkusLisIcon div {
// animation
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 36, 170);
    transition: all 0.35s;
    z-index: -1;
  }

  transition: all 0.35s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  // end bungkus icon
}

.btnsosmed {
  .iconList:after {
    height: 84%;
  }

  div:hover:after {
    width: 100%;
  }
  //end btn sosmed
}

.thisBtn {
// btn new
  a {
    margin: auto;
    display: block;
    width: 400px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family:redserif;
    text-decoration: none;
    color: green;
    border: 2px solid blue;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
  }

  a span {
    position: relative;
    z-index: 2;
    font-weight: 500;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 36, 170);
    transition: all 0.35s;
    z-index: -1;
  }

  a:hover {
    color: #fff;
  }

  a:hover:after {
    width: 100%;
  }
}

.mybtn {
  //bagian atas
  a {
    color: #fff;
    border: 1px solid #fff;
  }
  a:hover {
    border: 2px solid #fff !important;
  }
}
