.thisBtn {
// btn new
  a {
    text-align: center;
    margin: 15px auto;
    width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 18px;
    font-family:redserif;
    text-decoration: none;
    color: darkblue;
    border: 2px solid blue;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.35s;
  }

  a span {
    position: relative;
    z-index: 2;
    font-weight: 500;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(0, 36, 170);
    transition: all 0.35s;
    z-index: -1;
  }

  a:hover {
    color: #fff;
  }

  a:hover:after {
    width: 100%;
  }
 }

