@use "../variable" as v;
//isi konten spoiler
.kontenNav,.spoilerKonten {
  //reset daleman central
  background: v.$bg;
  //warna bg nav&spoiler
  overflow: hidden;
  //menghilangkan konten spoiler
  transition: v.$an;
  //dursi animasi
}
.kontenNav {
  //reset daleman spoiler navigasi
  //width: 100vw!important;
  height: 100vh;
  //tinggi konten nav
  transform: translate(999px,0);
  //menyembunyikan nav
  overflow: scroll;
  //efek scroll
  //margin: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  color: v.$cl;
  position: fixed;
}
#nav[type="checkbox"]:checked ~ .kontenNav {
  //setelah di klick
  transform: translate(0,0);
}
.spoilerKonten {
  //reset daleman spoiler global
  opacity: 0;
  //transparansi konten spoiler
  width: 100vw;
  //panjang konten spoiler
  padding: 0;
  //reset padding awal
  height: 0;
  //reset tinggi awal
}
input[type="checkbox"]:checked ~ .spoilerKonten {
  //menampilkan konten
  opacity: 100%;
  //transparasi konten spoiler
  padding: 15px 0;
  //padding konten spoiler
  height: auto;
  //tinggi konten spoiler
}
// Melayang
.navTerbang,.shareTerbang {
  //navigasi dan share btn
  position: fixed;
  //efek terbang
  bottom: 0;
  //jarak dengan bawah
  width: 50px;
  //panjang
}
.navTerbang {
  height: 50px;
  //agar tidak menghalangi tombol diatas
  z-index: 11;
  //tingkatan layer
  right: 0;
  //jarak samping kiri/mirip seperti text-align:right
}
//====Daleman Navigasi====
.cardAuthor {
  text-align: center;
  box-shadow: v.$sh;
  padding: 15px 0;
}
.headerNav {
  background-color: v.$cl2;
  padding: 15px 0;
  width: 100vw;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.top {
  margin-top: 70px;
}
.bottom {
  margin-bottom: 70px;
}
// ========== SosMed ==========
.sosmedhome {
  text-align: center;
  padding: 15px 0;
}
.sosmedhome span,.sosmednav span {
  background-color: v.$cl2;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
}
.sosmednav span:hover {
  background-color: v.$cl;
}
//special contact
.bungkusLisIcon {
  display: flex;
  padding: 5px 15px;
}
.infoIconList {
  padding: 15px;
  background: v.$cl3;
  height: 50px;
  font-weight: bold;
  color: #fff;
}
// navigasi list & sosmed & tag
.nav {
  li {
    list-style: none;
    cursor: pointer;
    padding: 15px;
    a {
      display: block;
      width: 90%;
      height: 20px;
      color: v.$cl2;
      font-weight: bold;
    }
    &:hover {
      a {
        color: #fff;
      }
      background: rgba(0,0,139,0.8);
    }
  }
  .sosmednav {
    margin: 25px 50px;
  }
  .tag {
    a {
      padding: 5px;
      margin: 15px;
    }
    border-bottom: transparent;
  }
}
// ========== search bar ==========
::placeholder {
  color: v.$cl2;
}
:-ms-input-placeholder {
  color: v.$cl2;
}
::-ms-input-placeholder {
  color: v.$cl2;
}
input {
  &.widget-search__field {
    border: 0;
    padding: 10px;
    resize: none;
    margin: 15px 0;
    border: v.$br;
    background-color: transparent;
    width: 78%;
  }
  &.widget-search__submit {
    background-color: v.$cl  !important;
    padding: 10px!important;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: transparent;
    width: 20%;
  }
}
//Tag
.tag {
  a {
    background-color: v.$cl2;
    padding: 5px;
    color: #fff!important;
    border-radius: 5px;
    line-height: 40px;
  }
  border-bottom: v.$br;
  padding: 10px
}
//end tag