{{ if not .IsHome }}
{{ $pageurl := .Permalink }}
<div class="shareTerbang">
  <div class="spoiler">
    <input type="checkbox" id="share">
    <div class="spoilerKonten sosmednav">
          <a class='fb' title="Share this on Facebook" onclick="window.open('http://www.facebook.com/share.php?u={{ $pageurl }}');">
      <span class='facebook' />
    </a>
<a class="tw" title="Share this on Twitter" onclick="window.open('http://twitter.com/home?status={{ $pageurl }}');">
      <span class='twitter' />  </a>
    <a class='wa' data-action='share/whatsapp/share' expr:href='"whatsapp://send?text=" + {{ .Title }} +"%20%2D%20" + {{ $pageurl }}'>
      <span class='whatsapp' /></a>
    <a class='tg' expr:href='"tg://msg?text=" + {{ .Title }} +" -" + {{ $pageurl }}' rel='nofollow' target='_blank' title='Share on Telegram'>
      <span class='telegram' /></a>
{{ if .Params.image }}<a class="pinterest" title="Share this on Pinterest" onclick="window.open('https://pinterest.com/pin/create/button/?url=&media={{ .Params.image }}&description=');"><span class='pinteres' /></a>{{end}}
<a  class='le' expr:href='"http://www.linkedin.com/shareArticle?mini=true&amp;url=" + data:post.url + "&amp;title=" + data:post.title + "&amp;summary=" + data:post.snippets' onclick='window.open(this.href,"popupwindow","status=0,height=500,width=500,resizable=0,top=50,left=100");return false;' rel='nofollow' target='_blank' title='Share on LinkEdin'>
      <span class='linkedin' /></a>
    <!--<a class='tr' href='http://www.tumblr.com/share' onclick='window.open(this.href,"popupwindow","status=0,height=500,width=500,resizable=0,top=50,left=100");return false;' rel='nofollow' target='_blank'>-->
    <!--  <span class='tumblr' /></a>-->
<a class="mail" title="Share this through Email" onclick="window.open('mailto:?&body={{ $pageurl }}');">
      <span class='gmail' /></a>
    <!--<a class='ln' expr:href='"https://timeline.line.me/social-plugin/share?url=" + data:post.url' target='_blank' title='Share On Line'>-->
    <!--  <span class='line' /></a>-->
    </div>
    <label for="share"><i class="iconShare"></i></label>
  </div>
</div>
{{end}}