<!DOCTYPE html>
<html>
<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {{ partial "main/head/main.html" . }}
</head>
<body class="">
  {{ partial "home/nav.html" . }}
  <!-- {{ partial "main/navhome.html" . }} -->
  <div class="main">
    {{ partial "home/top.html" . }}
    <div class="bagian-tengah">
      {{ partial "home/midle/project.html" . }}
      {{ partial "home/midle/note.html" . }}
      {{ partial "home/midle/blog.html" . }}
    </div>
    {{ partial "home/last.html" . }}
  </div>
  {{ partial "main/footer.html" . }}
</body>
</html>
