{{ if strings.HasPrefix .Destination "http" }} 
<a
  href="{{ .Destination | safeURL }}"
  target="_blank"
  rel="nofollow">
  <img
    class="lazy"
    src="{{ .Destination | safeURL }}"
    alt="{{ .Text }}"
    loading="lazy"
    {{ with .Title}} title="{{ . }}"{{ end }}/>
</a>
{{ else }}
<!-- ((resources.Get "tes.png").Resize "51x50" | fingerprint).RelPermalink  -->
  {{ $imagePath := printf "img/%s.png" .Destination | safeURL }}
  {{- $image := resources.Get $imagePath -}}
<a
  href="{{ (resources.Get $imagePath).RelPermalink }}"
  target="_blank"
  rel="nofollow">
  <img
    class="lazy"
    src="{{ ($image.Fill "200x200 Center").RelPermalink }}"
    alt="{{ .Text }}"
    loading="lazy"
    {{ with .Title}} title="{{ . }}"{{ end }}/>
</a>
{{ end }}
