<div style="overflow:hidden;padding:15px" class="post-content post-body">
  <a href="/img/muryp.png">	<img src="/img/muryp.min.png" alt="Profil alif prihantoro" width="200px"></a>
</div>


  <!-- {{ with .Params.authors }} -->
  <!-- {{ range . }} -->
  <!-- {{ $name := . }} -->
  <!-- {{ $path := printf "/%s/%s" "authors" ($name | urlize) }} -->
  <!-- {{ with $.Site.GetPage $path }} -->
  <!-- <a href="/img{{ $path }}.png">	<img src="/img{{ $path }}.min.png" alt="Profil {{ $path }}" width="200px"></a> -->
  <!-- {{ .Content | emojify | safeHTML}} -->
  <!--         {{ partial "list/blog.html" . }} -->
  <!-- {{ end }} -->
  <!-- {{ end }} -->
  <!-- {{ else }} -->
  <!--         {{ partial "authors/list.html" . }} -->
  <!-- {{ end }} -->
