{{if ne .RelPermalink "/search/"}}
  <!--search-->
  <!--<div id="mySearch">-->
  <!--  <div class="humberger spoiler">-->
  <!--    <input type="checkbox" id="search">-->
  <!--    <i class="navicon"></i>-->
  <!--    <label id="searchBtn"for="search">-->
  <!--      <span></span>-->
  <!--      <span></span>-->
  <!--      <span></span>-->
  <!--    </label>-->
  <!--    <div class=contentSpoiler>-->
  <!--      {{if ne .RelPermalink "/search/"}}-->
  <!--      <div class="widget-search widget">-->
  <!--        <form class="widget-search__form" role="search" method="get" action="{{ "search" | absURL }}">-->
  <!--          <label>-->
  <!--            <input class="widget-search__field" type="search" placeholder="{{ T "search_placeholder" }}Cari Apa?" value="" name="s" aria-label="{{ T "search_placeholder" }}">-->
  <!--          </label>-->
  <!--          <input class="widget-search__submit" type="submit" value="Search">-->
  <!--        </form>-->
  <!--      </div>-->
  <!--      {{end}}-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--end search-->
  {{end}}