.main h1, .h1myskill, h1.Contact  {
  padding: 5px;
  color:#00008b !important;
  margin-top: 50px;
  text-align: center;
}
         /* ========= Header ========== */
    .header {
      padding: 20px 0;
      width: 100%;
      position: relative;
      top: 0;
      height: 18px;
      z-index: 5;
      background-color: #00008b;
      height: 50px;
    }
    .header a {
      position: absolute;
      top: 10px;
      left: 10px;
      font-weight: bold;
      font-size: 1em;
      z-index: 9999;
    }
        /* ========= Navigasi ======== */
    .nav input[type=checkbox] {
      display: none
    }
    #darkBtn svg {
      fill:#fff !important;
    }
    #navbar {
      box-sizing: border-box;
      display: inline-block;
      width: 50px;
      padding: 10px;
      height: 50px;
      cursor: pointer;
      user-select: none;
      flex-direction: column;
      justify-content: space-evenly;
      display: flex;
      position: fixed;
      z-index: 100;
      right: 15px;
      bottom: 15px;
      background: darkblue;
      border-radius: 15px;
    }
    .navku {
      position: fixed;
      list-style: none;
      text-align: right;
      width: 100%;
      z-index: 99;
      max-width: 0!important;
      overflow: scroll !important;
      top: 0;
      height: 100vh;
      background: rgb(235,235,235);
      transition: 1s;
      opacity: 0;
      right: 0;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgb(0,0,0,0.2);
      color:#1293e6;
    }
    div.navku li {
      list-style: none;
      cursor: pointer;
      padding: 15px;
    }
    div.navku li a{
      display: block;
      width: 90%;
      height: 20px;
      color:#00008b;
      font-weight: bold;
    }
    div.navku li:hover {
      background-color:rgba(0,0,0,.1) ;
      color: #333;
    }
    .nav label span {
      display: inherit;
      width: 30px;
      height: 0;
      border-top: 5px solid #fff;
      transition: .5s;
      margin: 0 auto
    }
    .nav label span:nth-child(2) {
      transform-origin: 0 0
    }
    .nav label span:nth-child(3) {
      transform-origin: 0 0
    }
    .nav input[type=checkbox]:checked ~ #navbar {
      animation: 4s
    }
    .nav input[type=checkbox]:checked ~ div.navku {
      display: block;
      max-width: 500px!important;
      opacity: 1
    }
    .nav input[type=checkbox]:checked ~ label span {
      display: flex;
      width: 30px;
      height: 0;
      border-top: 1px;
      transition: .5s;
      margin: -9px 10px auto;
    }
    .nav input[type="checkbox"]:checked ~ label span:nth-child(1) {
      transform: rotate(45deg) translate(5px,23px);
      color:#fff;
      border: 3.5px solid 
    }
    .nav input[type=checkbox]:checked ~ label span:nth-child(2) {
      transform: scale(0);
      opacity: 0
    }
    .nav input[type="checkbox"]:checked ~ label span:nth-child(3) {
      transform: rotate(-45deg) translate(-17px,4px);
      color:#fff;
      border: 3.5px solid 
    }
    /*Info*/
    .cardInfo img {
      width: 100px;
      height: 100px;
      margin-top: 50px;
    }
    .cardInfo {
      margin: auto;
      text-align: center;
      border-bottom: 5px solid;
      color: rgb(0,0,139,0.8);
    }
    input[id^="nav"] {
      display: none;
    }
    .iconnav {
      padding: 10px;
    }
    /*unchecked*/
    .mynav2 input[id^="nav"] + label {
      display: block;
      width: 100%;
      color:#00008b;
      font-size: 24px;
      cursor: pointer;
      transition: all .6s;
      border-bottom: 5px solid#00008b;
      margin-top: 10px;
    }
    .mynav2 input[id^="nav"] + label::before
    {
      content: ".";
      position: absolute;
      color: transparent;
      left: 0;
      width: 50px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgb(0,0,139,0.8)' viewBox='0 0 24 24'%3E%3Cpath d='M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm7.58 0l5.988-5.995 1.414 1.416-4.574 4.579 4.574 4.59-1.414 1.416-5.988-6.006z'/%3E%3C/svg%3E");
      background-position: right;
      background-repeat: no-repeat;
      transition-duration: .6s;
    }
    /*checked btn*/
    .mynav2 input[id^="nav"]:checked + label {
      width: 100%;
      background: rgba(0,0,0,0.1);
    }
    .mynav2 input[id^="nav"]:checked + label::before {
      transform: rotate(-90deg) translate(-15px,0)
    }
    /*isi unchecked*/
    .mynav2 input[id^="nav"] ~ .mynav {
      width: 0;
      height: 0;
      opacity: 0;
      transition: .6s;
      overflow: hidden;
      text-align: Right;
    }
    /*isi checked*/
    .mynav2 input[id^="nav"]:checked + label + .mynav {
      height: auto;
      width: 100%;
      opacity: 1;
    }
     .mynav h2 {
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  color: rgb(0,0,139,.8);
}
.dropdown a{
  padding:15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0,0,0,.1);
  line-height: 60px;
}
/* ========== SosMed ==========*/
.nav .sosmednav {
  margin:25px 50px ;
}
.nav span.facebook {
  background-color: #4867aa
}
.nav span.twitter {
  background-color: #1da1f2
}
.nav span.pinteres {
  background-color: #ca2128
}
.nav span.linkedin {
  background-color: #0673ab
}
.nav span.github {
  background-color: #000;
}
..youtube {
  background-color: red;
}
.nav span.instagram {
  background-color: rgb(195, 84, 245)
}
.nav span.whatsapp {
  background-color: #4dc247
}
.nav span.gmail {
  background-color: #141b23
}
.nav span.telegram {
  background-color: #22a9f7
}
div.sosmedmenu {
  display: block;;width: 100%;
  bottom: 0;
  text-align: center;
  padding: 10px
}
div.sosmedmenu a {
  color: #fff;
  padding: 10px
}
/* sosmed */
.sosmednav span {
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
  background-color: rgb(0,0,139,.8);
}
.sosmednav span:hover {
  background-color:  rgb(2,79,156);
}
a.ohmyheader svg {
  width: 300px;
  transform: translate(0,6px);
}
/* ======== Readmore && Related ========= */
.content{
  display: flex;
  border-radius:5px ;
  box-shadow: 0 0 5px rgb(0,0,0,.1);
  margin: 25px auto !important;
  padding:15px;
  width:80%;
}
.myread{
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  text-align: left;
}
.readMore a{
  color: rgb(0,0,139,0.8);
}
.myread .date {
    margin-right: 30px;
    width: 64px;
    text-align: center;
}
.myread .date .day {
    font-weight: 700;
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin: 20px auto;
}
.myread .date .rest {
    display: block;
    font-size: 0.75em;
}
/* ======== Pagenation ========= */
.pagination {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.pagination li{
  padding: 15px;
  margin: 15px;
  background:rgb(0,0,139,.8);
  max-width: 50%;
}
.pagination a,.pagination{
  color: rgb(255,255,255,.8);
  font-weight: 900;
}
/* ========== Contact ========== */
::placeholder {
  color:#00008b;
}
:-ms-input-placeholder {
  color:#00008b;
}
::-ms-input-placeholder {
  color:#00008b;
}
.Contactb {
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0,0,0,.1);
  padding-bottom: 100px;
}
/* form */

#ContactForm1 {
  margin: auto;
  padding: 5px;
}
#ContactForm1_input {
  width: 100%
}
#ContactForm1 input,#ContactForm1 textarea {
  width: 85%;
  border: 0;
  padding: 10px;
  resize: none;
  margin: 0 0 10px 10px;
  border: 1px solid #00008b;
  background-color: transparent;
}
#ContactForm1 textarea {
  height: 150px;
}
#ContactForm1 button {
  background-color: rgb(0,0,139,.8)  !important;
  padding: 10px!important;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: transparent;
  width: 80%;
}
#ContactForm1 button:hover {
  border-radius: 5px;
  background: darkblue !important;
}
/* ========== Footer ========== */

#footer {
  background:#00008b;
  padding: 50px 10px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 -8px 15px rgba(0,0,0,.1);
  border-radius: 5px 5px 0 0;
}
.credit a {
  color: #fff;
  padding: 10px 10px;
  line-height: 35px;
}
#darkBtn {
  position: absolute;
  top: 15px;
  right: 5px;
}
@media only screen and (min-width:720px) {
  #navbar{
    top: 0;
    right: 0;
  }
  header{
    text-align: right;
  }
#darkBtn {
  right: 60px !important;
}
}