// pembungkus
.content {
  @apply flex p-[15px] w-[80%] rounded-[5px] shadow-blue-900 shadow-md;
  margin: 25px auto;
}

.myread {
  @apply w-full grid text-left text-blue-900;
  grid-template-columns: auto;
  // hover
  a:hover {
    transform: translate(10px, -10px);
  }
  // tanggal
  .date {
    @apply mr-[30px] w-[64px] text-center;
    // day
    .day {
      @apply leading-[0.45em] block;
      font-weight: 700;
      font-size: 3em;
      margin: 20px auto;
    }
  }
}

@screen md {
  .myread {
    grid-template-columns: auto auto;
  }
}
