// pembungkus
.content {
  display: flex;
  border-radius: 5px;
  box-shadow: rgb(0,0,0,0.3) 5px 5px 15px;
  margin: 25px auto !important;
  padding: 15px;
  width: 80%;
  background: rgb(0,0,0,0.3);
}

.myread {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  text-align: left;
}

@screen md {
  .myread{
  grid-template-columns: auto auto;
  }
}

// tanggal
.myread .date {
  margin-right: 30px;
  width: 64px;
  text-align: center;
}

.myread .date .day {
  font-weight: 700;
  line-height: 0.45em;
  font-size: 3em;
  display: block;
  margin: 20px auto;
}

// hover
.myread a:hover {
    transform: translate(10px, -10px);
  }
