  <div class="BagianAtas">
    <div class="bagianDalam">
      <h1>Hello World!</h1>
      <p>
        I'm MuryP. I'm from Indonesian. <br/>
        I'm focus on Front End now. But I like Drawing, writing, and analyzed.
      </p>
      <div class='sosmednav' id='sosmed'>
        <a href='https://github.com/alifmuryp/' rel='nofollow' target='_blank' title='github'>
          <span class='github' /></a>
        <a href='https://www.linkedin.com/in/alifmuryp' rel='nofollow' target='_blank' title='linkedin'>
          <span class='linkedin' /></a>
        <a href='https://www.instagram.com/murypstudio/' rel='nofollow' target='_blank' title='instagram'>
          <span class='instagram' /></a>
        <a href='https://twitter.com/murypstudio' rel='nofollow' target='_blank' title='twitter'>
          <span class='twitter' /></a>
        <a href='https://facebook.com/murypstudio' rel='nofollow' target='_blank' title='facebook'>
          <span class='facebook' /></a>
        <a href='https://id.pinterest.com/alifmuryp/' rel='nofollow' target='_blank' title='pinteres'>
          <span class='pinteres' /></a>
        <a href='https://www.deviantart.com/alifmuryp' rel='nofollow' target='_blank' title='DevianArt'>
          <span class='deviantart' /></a>
        <a href='http://tumblr.com/blog/murypstudio' rel='nofollow' target='_blank' title='Tumblr'>
          <span class='tumblr' /></a>
        <a href='https://www.behance.net/muryp' rel='nofollow' target='_blank' title='Behance'>
          <span class='behance' /></a>
        <a href='https://www.dribbble.com/murypstudio' rel='nofollow' target='_blank' title='Drible'>
          <span class='drible' /></a>
      </div>
      <h4><a href="mailto:alifmuryp@gmail.com" rel='nofollow' class='btn' target='_blank' title='Gmail'>Contact Me!<span class='gmail' /></a></h4>
    </div>
  </div>