 .dark-mode {
/*default*/
/*.bagianDalam *, .mynav *{*/
 .skill,.nav, .bagianDalam p,  .sosmednav span, .kontenNav, .spoilerKonten {
  /*default warna dasar*/
  background-color: rgb(27,27,27) !important;
  color: rgb(255,255,255,.5) !important;
  border-color: rgb(255,255,255,.5) !important;
}

article a{
  text-decoration: underline;
}


 h2, .h1myskill, strong, b, h1, h2, h3, h4, h5, h6, a{
  /*font mencolok*/
  /*warna tebal*/
  color: rgb(255,255,255,.8) !important;
}

.bagian-bawah, .bagian-atas,input.widget-search__submit,  hr, .header, .pagination a, .Total, .bagianDalam .btn,.btn-2, .tag a, blockquote, .shareTerbang div, .headerNav , .kontenNav li:hover{
/* darkblue */
  background: rgb(0,0,0,.3) !important;
  background-color: rgb(0,0,0,.3) !important;
   border-color: #000;
   color:rgb(255,255,255,.7);
 }

  .iconList span,.infoIconList{
       background-color: #000!important;
 }

 /*garis*/
 input.widget-search__field, .tag, .footerPost, label{
  border-color:rgb(255,255,255,.3) !important;
}

 ::placeholder {
  color:rgb(255,255,255,.3) !important;
}

 :-ms-input-placeholder {
  color:rgb(255,255,255,.5) !important;
}

 ::-ms-input-placeholder{
  color:rgb(255,255,255,.5) !important;
}

 label::before{/*arrow*/
  border-left: 8px solid rgb(255,255,255,.3);
}

/*end garis*/
 span:hover, .title-post, .btn a,  .navBtn, i.iconShare{
/* terang */
  background-color:rgb(50,50,50) !important ;
}

.thisBtn span:hover{
  background-color: rgb(50,50,50,0)!important ;
}

 .skill,.content, .bagian-atas{
  box-shadow: 0 0 5px rgb(255,255,255,.05);
}

/* hover */
 a:hover, .kontenNav li:hover{
  color:#fff !important;
}

/*sementara
nantinya diganti dengan css bg(svg)
*/
 svg{
   &:hover{
  fill:rgb(255,255,255,.8);

   }
  fill:rgb(255,255,255,.5);
}

 #darkBtn svg{
  transform: rotate(180deg);
}

/*end sementara*/


// start btn bagian atas
.thisBtn {
  a{
  border-color: rgb(255, 255, 255,.5);
  }

  a:after{
  background-color: rgb(255,255,255,.4) !important;
  }

  a:hover{
color: #fff !important;
border-color: #fff !important;
  }
}

#footer,.main{
  background: rgb(255, 255, 255,.1);
}
.bungkusLisIcon div:after{
  background-color: rgb(255, 255, 255,.5)!important;
}

/*end default*/

  background-color: rgb(27,27,27) !important;
  color: rgb(255,255,255,.5) !important;
  border-color: rgb(255,255,255,.5) !important;
}

