/*default*/
/*.bagianDalam *,.dark-mode .mynav *{*/.dark-mode,.dark-mode .bagianDalam p, .dark-mode .sosmednav span,.dark-mode .kontenNav,.dark-mode .spoilerKonten {
  /*default warna dasar*/
  background-color: rgb(27,27,27) !important;
  color: rgb(255,255,255,.5) !important;
  border-color: rgb(255,255,255,.5) !important;
}
.dark-mode article a{
  text-decoration: underline;
}
.dark-mode h2,.dark-mode .h1myskill,.dark-mode strong,.dark-mode b,.dark-mode h1,.dark-mode h2,.dark-mode h3,.dark-mode h4,.dark-mode h5,.dark-mode h6,.dark-mode a{
  /*font mencolok*/
  /*warna tebal*/
  color: rgb(255,255,255,.8) !important;
}
/*end default*/
.dark-mode input.widget-search__submit, .dark-mode hr,.dark-mode .header,.dark-mode .pagination a,.dark-mode .Total,.dark-mode .bagianDalam .btn,.dark-mode .tag a,.dark-mode #footer, .dark-mode blockquote,.dark-mode .shareTerbang div,.dark-mode .headerNav ,.dark-mode .kontenNav li:hover{
/* darkblue */
  background: rgb(0,0,0,.3) !important;
  background-color: rgb(0,0,0,.3) !important;
   border-color: #000;
   color:rgb(255,255,255,.7);
 }
 .dark-mode .infoIconList{
   background: #000!important;
 }
 /*garis*/
.dark-mode input.widget-search__field,.dark-mode .tag,.dark-mode .footerPost,.dark-mode label{
  border-color:rgb(255,255,255,.3) !important;
}
.dark-mode ::placeholder {
  color:rgb(255,255,255,.3) !important;
}
.dark-mode :-ms-input-placeholder {
  color:rgb(255,255,255,.5) !important;
}
.dark-mode ::-ms-input-placeholder{
  color:rgb(255,255,255,.5) !important;
}
.dark-mode label::before{/*arrow*/
  border-left: 8px solid rgb(255,255,255,.3);
}
/*end garis*/
.dark-mode span:hover,.dark-mode .myjudul,.dark-mode .btn a,.dark-mode .iconList span,.dark-mode .navBtn,.dark-mode i.iconShare{
/* terang */
  background-color:rgb(50,50,50) !important ;
}
.dark-mode .content,.dark-mode .BagianAtas{
  box-shadow: 0 0 5px rgb(255,255,255,.05);
}
/* hover */
.dark-mode a:hover,.dark-mode .kontenNav li:hover{
  color:#fff !important;
}
/*sementara
nantinya diganti dengan css bg(svg)
*/
.dark-mode svg{
  fill:rgb(255,255,255,.8);
}
.dark-mode #darkBtn svg{
  transform: rotate(180deg);
}
/*end sementara*/