// background
$bg:rgb(234,234,234);
// transition 
$an:all .6s;
// color 
$cl:#00008b;
$cl2:#00008bcc;
$cl3:#00008b80;
$cl4:#ffffffcc;
// shadow 
$sh:5px 10px 15px rgb(0,0,0,.07);
$sh1:0 0 5px rgb(0,0,0,.1);
// border 
$br:2px solid $cl2;
$br1:1px solid $cl;
$br2:8px solid;
// jarak tepi 
$jt:15px;
