// background dark
$bg:#00008b;

// background ligh
$bgl1:rgb(0,0,139,.6);

// background ligh
$bgl2:rgb(0,0,139,.8);

// background scroll
$bgs:green;

// background belakang
$bgb:gray;

// color bassic
$cl:#333;

// color highlight
$clh:blue;

// shadow
$sd:5px 5px 5px rgb(0,0,139,.08);

// font source

// font family

