@use "params/variable" as v;
@use "params/reset";
// @use "params/nav";
@use "params/bagianAtas";
@use "params/bagianTengah";
// @use "params/btn";
@use "params/footer";
@use "params/desk";
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
*{
  font-weight: 400;
}
h1,h2,.nameSite{
  font-family: 'Quando', serif;
  font-size: 1.5em;
}
a,b,strong{
  font-family: 'Quando', serif;
}
.bagian-atas a{
  font-size: .8em;
}
#about b{
  color:#fff;
  
}
b,strong{
  font-weight: 500;
}
.nav a, .nav h2,.nav .spoilerKonten{
  text-align: left!important;
  margin:0;}
  
