@use "reset";
@use "post/nav";
@use "post/contentnav";
@use "post/header";
@use "post/main";
@use "post/content-post";
/* ========== Footer ========== */
.nav{
h1,h2{
text-transform: uppercase;
text-align: center;
}
}
/* ==========  responsive  ========== */
@media only screen and (min-width:1080px) {
  .header-post {
    width:70% !important;
  }
  .kontenNav {
    /*navigasi desktop*/
    opacity: 100%;
    transform: translate(0,0);
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 30%;
  }
  .navBtn {
    display: none;
  }
  .main,#footer {
    width: 70%;
  }
}

