@use "reset";
@use "post/nav";
@use "post/contentnav";
@use "post/header";
@use "post/main";
@use "post/content-post";
// reset
body{
overflow: hidden;
}
.left-post{
  height: 100vh;
  overflow: scroll;
}
.list-pages {
  margin: 50px 0 0 25px;
}
/* ========== Footer ========== */
.nav{
h1,h2{
text-transform: uppercase;
text-align: center;
}
}
/* ==========  responsive  ========== */
@media only screen and (min-width:1080px) {
.left-post{
  width: 70%;
}
  .kontenNav {
    /*navigasi desktop*/
    opacity: 100%;
    transform: translate(0,0);
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 30%;
  }
  .navBtn {
    display: none;
  }
}

