@use "../var" as v;
.top {
  p {
    padding: 15px;
    margin: 0;
  }
  h1 {
    font-weight: bold;
    color: v.$bg;
  }
}
.kedua {
  font-size: 21px;
  margin-top: -20px;
}

.center {
  text-align: center;
}
