<div class="navTerbang">
  <div class="nav">
    <input type="checkbox" id="nav">
    <label class="navBtn" for="nav">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div class=kontenNav>
      <div class="headerNav bottom">
        Author
      </div>
      <!--memulai image-->
      <div class="cardAuthor">
        <a href="{{.Site.Params.host}}{{.Site.Params.img}}"> <img src="{{.Site.Params.host}}{{.Site.Params.thumb}}" alt="{{.Site.Params.Description}}"></a>
        <div class="container">
          <h4><a href="{{.Site.Params.urlAuthors}}">{{.Site.Params.Author}}</a></h4>
          <p>
            {{.Site.Params.Header | safeHTML}}
          </p>
<!-- follow -->
      {{ partial "home/last/sosmed.html" . }}
      </div>
      </div>
      <!--end image-->
      {{if ne .RelPermalink "/search/"}}
      {{ partial "post/nav/search.html" . }}
      {{end}}
      <!--start list nav-->
      <div class="headerNav top">
        NAVIGATION
      </div>
      {{ range .Site.Menus.main.Sort.ByWeight }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      <!--end list nav-->
      <!--start dropdown nav-->
      <div class="spoiler myArrow">
        <input type="checkbox" id="taksonomyNav">
        <label for="taksonomyNav">Daftar Kategori</label>
        <div class="spoilerKonten tag">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a href="/tags/{{$name}}">
        #{{ replace .Page.Title " " "_"  }}
        <!--<a> {{ .Count }}</a>-->
        </a>
      {{ end }}
        </div>
      </div>
      <div class="spoiler myArrow">
        <input type="checkbox" id="listPagesNav">
        <label for="listPagesNav">Daftar Halaman</label>
        <div class=spoilerKonten>
          {{ with .Site.GetPage "/pages" }}
          {{ range .Paginator.Pages}}
          <li>
          <a href="{{.Permalink}}">{{.Name}}</a>
          </li>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <!--end dropdown-->
      <!--start contact & list-->
      {{if ne .RelPermalink "/"}}
      {{ partial "main/contact.html" . }}
      {{ partial "main/list.html" . }}
      {{end}}
      <!--end contact & list-->
      <!--start related post-->
      {{ $related := .Site.RegularPages.Related . | first 99 }}
      {{ with $related }}
      <h2>Lihat Juga</h2>
      <div class="related">
        {{ range . }}
        <div class="content">
          <a href="{{ .RelPermalink }}">
            <div class="readMore">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
      {{ end }}
      <!--end related post-->
    </div>
  </div>
</div>
