<select id="list-section-search" onChange="btn_list_section()">
  <option value="all">All</option>
  <option value="/blog/index.json">Blog</option>
  <option value="/code/index.json">Code</option>
  <option value="/news/index.json">News</option>
</select>
<select id="list-tags-search" onChange="btn_tags_search();">
  <option value="/index.json">All</option>
  <div id="tesdiv">
  <option value="/blog/index.json">Blog</option>
  <option value="/code/index.json">Code</option>
  <option value="/news/index.json">News</option>
  </div>
</select>
<!-- <select id="tag-list" onclick="tes1();"> -->
  <!-- <option value="">All</option> -->
<!--   <option value="termux">Termux</option> -->
<!-- </select> -->

<div class="search-baru">
  <input
    autocomplete="off"
    type="search"
    id="search"
    placeholder="Search now!"
  />
  <button onclick="btn_result()" >Search</button>
  <!-- hasil -->
  <ul class="" id="results"></ul>
</div>
