<select id="url-list" onChange="triChoose();">
  <option value="/index.json">All</option>
  <option value="/blog/index.json">Blog</option>
  <option value="/code/index.json">Code</option>
  <option value="/news/index.json">News</option>
</select>
<select id="tag-list" onChange="triChoose();">
  <option value="">All</option>
  <option value="termux">Termux</option>
</select>




<!-- <select id="list-url" onChange="update()"> -->
<!--   <option value="all">All</option> -->
<!--   <option value="blog">Blog</option> -->
<!--   <option value="code">Code</option> -->
<!-- </select> -->
<!-- <select id="tags-list" onChange="update()"> -->
<!--   <option value="all">All</option> -->
<!--   <option value="termux">termux</option> -->
<!--   <option value="code">Code</option> -->
<!--   <option value="info">Info</option> -->
<!-- </select> -->

<div class="search-baru">
  <input
    autocomplete="off"
    type="search"
    id="search"
    placeholder="Search now!"
  />
  <!-- hasil -->
  <ul class="" id="results"></ul>
</div>
