<h2>My Website</h2>
<div class="myread">
      <a href="https://muryp.my.id/blog">
        <div class="content">
          <div class="date">
            <span class="nameSite">Blog </span>
          </div>
          <div class="readMore">
            Kumpulan artikel/tulisan pribadi
          </div>
        </div>
      </a>
      <a href="https://lms.muryp.my.id/">
        <div class="content">
          <div class="date">
            <span class="nameSite">LMS </span>
          </div>
          <div class="readMore">
            Kumpulan modul belajar gratis
          </div>
        </div>
      </a>
      <a href="https://code.muryp.my.id/">
        <div class="content">
          <div class="date">
            <span class="nameSite">Code </span>
          </div>
          <div class="readMore">
            Kumpulan Project (upcoming)
          </div>
        </div>
      </a>
      <a href="https://murypstudio.my.id/">
        <div class="content">
          <div class="date">
            <span class="nameSite">Arts </span>
          </div>
          <div class="readMore">
            Lihat konten gambar,arts, dan video (upcoming)
          </div>
        </div>
      </a>
</div>