{{ with .Params.authors }}
{{ range . }}
{{ $name := . }}
{{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
{{ with $.Site.GetPage $path }}
<div class="authorBottom">
  <div class="imgAuthor">
    <a href="{{ .Site.Params.host}}{{ $path }}.png">	<img src="{{ .Site.Params.host}}{{ $path }}.min.png" alt="Profil {{ $path }}" class="author"></a>
  </div>
  <div class="infoBottom">
    <h1><a href="{{ .Permalink }}" name="InfoMuryPFooter">{{ .Params.name }}</a></h1>
    <p>
      {{ .Params.bio | safeHTML }}
    </p>
  </div>
</div>
{{ end }}
{{ end }}
{{ else }}
<div class="authorBottom">
  <div class="imgAuthor">
    <a href="/img/authors/muryp.png"> <img src="/img/authors/muryp.min.png" alt="" class="author" /></a>
  </div>
  <div class="infoBottom">
    <h1 class=""><a href="/authors/muryp" name="InfoMuryPFooter">MuryP</a></h1>
    <p>
      Hello world!<br />I'm MuryP from Indonesian. I like Coding and Drawing. I hope you enjoy.
    </p>
  </div>
</div>
{{ end }}