@media (max-width: 768px) {
  .navigation * {
    color: white;
    transition: all 0.5s ease-out;
  }
  // before checked content ------------------------
  .head-content-navigation {
    @apply h-screen top-0 right-[-150vw] z-[9] fixed;
  }
  .head-toggle-navigation {
    @apply p-4 bg-blue-900 fixed z-10 bottom-5 right-5 rounded-xl;
    .iclose {
      display: none;
      svg {
        @apply w-[45px] h-[45px];
      }
    }
  }
  .toggle-navigation {
    // after checked content ------------------------
    &:checked + .head-toggle-navigation + .head-content-navigation {
      @apply top-0 right-0
      overflow-scroll w-screen bg-blue-900
      bg-opacity-75 m-0 p-0 backdrop-blur-md;
    }
    &:checked + .head-toggle-navigation {
      @apply bg-transparent p-0 fixed z-10 animate-bounce;
      .inav-open {
        display: none;
      }
      .iclose {
        display: block;
      }
    }
  }
}

@screen md {
  .navigation {
    padding: 0;
    .head-content-navigation {
      @apply h-screen p-0 overflow-scroll;
    }
    label.head-toggle-navigation {
      @apply hidden;
    }
    input#navigation {
      ::before {
        @apply hidden;
      }
      @apply hidden;
    }
  }
  .about *{
    @apply text-blue-900;
  }
}
