/* next prev */
.nav-post {
  @apply block w-full px-5;
  // btn
  div{
    @apply bg-blue-900 rounded-xl w-full p-3 my-3;
    a{
      @apply text-white inline-block;
      border-radius: 5px;
      }
  }
}
@screen md{
  .nav-post {
    display:grid;
    grid-template-columns: auto auto;
    div{
      width:fit-content;    
    }
  }
}
