//======== Pagenation
.pagination {
  a,.Total {
    @apply bg-blue-900 p-[15px] m-[15px] max-w-[50%] text-white font-bold;
    &:hover {
    @apply bg-blue-400 rounded-xl text-white;
    }
  }
  @apply flex w-full;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
