<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-blue-900 selection:text-white">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body class="bg-blue-900 bg-opacity-20">
  <div id="image-popup"></div>
    <!-- main -->
    <div class="layout-post w-[916px]">
      <!-- list post -->
      <div class="md:max-w-[720px] h-screen overflow-scroll">
        <!-- list -->
        {{ partial "post/list.html" . }}
        <!-- footer -->
        {{ partial "footer.html" . }}
      </div>
      <!-- nav -->
      <div>
        {{ partial "post/nav.html" . }}
      </div>
    </div>
    <script src="/post.js"></script>
  </body>
</html>
