<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-main-1">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body class="bg-blue-300 bg-opacity-30">
    <!-- main -->
    <div class="layout-post">
      <!-- list post -->
      <div class="md:w-fit m-auto md:max-w-[70%]">
        <!-- list -->
        {{ partial "post/list.html" . }}
        {{ partial "post/footer.html" . }}
      </div>
      <div class="w-[30%] none md:block">
        <!-- nav -->
        {{ partial "post/nav.html" . }}
      </div>
    </div>
    <script src="/main.min.js"></script>
  </body>
</html>
