<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-blue-900 selection:text-white">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body class="bg-blue-300 bg-opacity-30">
    <!-- main -->
    <div class="layout-post">
      <!-- post -->
      <div class="md:w-fit md:max-w-[70%] px-5">
        <!-- breadcrumb -->
        {{ partial "post/single/breadcrumb.html" . }}
        <!-- header  -->
        {{ partial "post/single/header.html" . }}
        <!-- content -->
        <article>
        {{ .Content | safeHTML }}
        </article>
        <!-- footer post -->
      </div>
      <div class="w-[30%] hidden md:block bg-blue-600">
        <!-- nav -->
        {{ partial "post/nav.html" . }}
      </div>
    </div>
    <script src="/main.min.js"></script>
  </body>
</html>
