<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-main-1">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body class="bg-main-2 bg-opacity-30">
    {{ partial "post/nav.html" . }}
    <div class="m-auto w-fit md:flex md:gap-1">
      <div class="max-w-[100vw] md:max-w-md">
        <!-- post header -->
        {{ partial "post/header.html" . }}
          <!--   -->
        <article class="bg-main-2 rounded-xl p-5">
          <!-- title -->
          <h1 class="text-center font-extrabold font-sans text-xl">
            {{ .Title }}
          </h1>
          <hr class="my-2 border-main-1" />
          {{ .Content | safeHTML }}
        </article>
        <!-- footer post -->
        {{ if eq .Section "pages" }} {{else}} {{ partial "post/post-footer.html" . }}
        {{ partial "post/related.html" . }} {{end}}
      </div>
      <!-- sidebar -->
      <div class="p-5">
        <!-- profile -->
        {{ partial "post/about-writer.html" . }}
        {{ partial "post/about.html" . }}
      </div>
    </div>
    <div class=" md:max-w-[791.989px] m-auto">

        {{ partial "post/footer.html" . }}
    </div>
    {{ $js := resources.Get "main.js" | minify }}
    <script src="{{ $js.Permalink }}"></script>
  </body>
</html>
