<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-blue-900 selection:text-white">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body class="bg-blue-900 bg-opacity-20">
    <!-- main -->
    <div class="layout-post w-[916px]">
      <!-- post -->
      <div class="md:w-fit md:max-w-[580px] h-screen overflow-scroll">
        <!-- header  -->
        {{ partial "post/single/header.html" . }}
        <!-- breadcrumb -->
        {{ partial "post/single/breadcrumb.html" . }}
        <!-- content -->
        <article>
          {{ .Content | safeHTML }}
        </article>
        <!-- footer post -->
        {{ partial "post/nav/footer-post.html" . }}
      </div>
      <!-- nav -->
      <div class="w-[380px] hidden md:block">
        {{ partial "post/nav.html" . }}
      </div>
    </div>
    <script src="/main.min.js"></script>
  </body>
</html>
