@use "../../variable" as v;
//======== Readmore && Related
.content {
  &:hover {
    transform: translate(5px,-5px);
  }
  display: flex;
  border-radius: 5px;
  box-shadow: v.$sh1;
  margin: 25px auto !important;
  padding: 15px;
  width: 80%;
}
.myread {
  a {
    color: v.$cl2;
  }
  .date {
    .day {
      font-weight: 700;
      line-height: 0.45em;
      font-size: 3em;
      display: block;
      margin: 20px auto;
    }
    .rest {
      display: block;
      font-size: 0.75em;
    }
    margin-right: 30px;
    width: 64px;
    text-align: center;
  }
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  text-align: left;
}
