// heading
.head {
    background: blue;
    color:#fff; 
    padding: 10px 0 10px 50px;
    margin: 0 0 15px 0;
}

.head::before {
    content: "";
    padding: 15px;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-34px, 5px);
}

