{{ if eq .Section "pages" }}
{{ .Content | safeHTML }}
{{else}}
<!DOCTYPE html>
<html lang="en">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "main/head.html" . }}
  </head>
  <body class="">
    {{ partial "post/nav/darkbtn.html" . }}
    {{ partial "post/nav.html" . }}
    <div class="left-post">
      {{ partial "post/header-post.html" . }}
      <div class="responsive">
        <div class="main-postingan">
          <hr />
          <div style="overflow: hidden" class="post-content post-body">
            <article>
              {{ .Content | safeHTML }}
            </article>
            {{ partial "post/footer.html" . }}
            {{ partial "post/related.html" . }}
          </div>
        </div>
        <div class="sidebar"></div>
      </div>
      {{ partial "main/footer.html" . }}
    </div>
    {{ partial "main/share.html" .}}
    <!-- js -->
  </body>
</html>
{{ end }}
