<div class="window hidden btn-sosmed" id='contact'>
  <div class="bar" id='contactheader'>
    <h2>contact</h2>
    <button onclick="togleWindow('contact')" class="window-btn iclose"></button>
  </div>

    {{ range .Site.Menus.contact.Sort.ByWeight }}
      <a target="_blank" href="{{.URL}}"
      class="{{ .Identifier }} p-3 m-2 border border-1 rounded-xl flex content-center items-center hover:bg-blue-300"
      >
        <span class="w-[90%]">
          {{ .Name }}
        </span>
      </a>
    {{end}}
    <div class=" mt-16 mb-10">
    <h3 class="text-center w-full border border-solid border-white leading-[0]">
      <span class="bg-blue-900 px-3"> Follow (personal account) </span>
    </h3>
    </div>

  <div class="flex w-fit m-auto">
    {{ range .Site.Menus.sosmed2.Sort.ByWeight }}
    <a target="_blank"
      href="https://{{.URL}}"
      class="{{ .Identifier }} p-3 m-2 border border-1 rounded-xl flex content-center items-center hover:bg-blue-300"
    ></a>
    {{end}}
  </div>
</div>
