@use "../../var" as v;
// search
.search-baru ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.hasil-hilang {
  display: none !important;
}

// search
input#search,
input#search::placeholder {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
input#search {
  background-color: v.$bgl1;
  width: 90%;
  padding: 15px;
  align-items: center;
}

#checked-list input[type="checkbox"] {
  opacity: 100;
}
