@use "../variable" as v;
//=============Bagian Navigasi===============
input[type="checkbox"] {
  //spoiler global
  padding: 5px;
  opacity: 0;
}
.spoiler label {
  //btn spoiler
  cursor: pointer;
  position: relative;
  display: block;
  border-top: v.$br1;
  border-bottom: v.$br1;
  text-align: right;
  padding: 8px 19px 8px v.$jt;
  width: 100%;
}
//Tombol Nav & Spoiler
//Anak Panah (Arrow)
.myArrow {
  label::before {
    //sebelum checked
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 10px;
    //menambah anak panah
    border-left: v.$br2 darkblue;
    border-top: v.$br2 transparent;
    border-bottom: v.$br2 transparent;
    margin-top: -8px;
    transition: v.$an;
    width: 0;
  }
  input[type="checkbox"]:checked ~ label::before {
    //setelah checked
    transform: rotate(90deg) translate(5px, -13px);
  }
}
//humberger
.navBtn {
  span {
    display: inherit;
    width: 30px;
    height: 0;
    border-top: 5px solid #fff; //coba disatukan br3
    transition: v.$an;
    margin: 0 auto;
  }
  span:nth-child(2),
  span:nth-child(3) {
    transform-origin: 0 0;
  }
  //btn nav humberger
  box-sizing: border-box;
  width: 50px;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  position: absolute;
  border-radius: v.$jt;
  z-index: 9;
  bottom: v.$jt;
  right: v.$jt;
  background: v.$cl3;
}
//humberger checked btn
#nav {
  &[type="checkbox"]:checked ~ .navBtn span {
    display: flex;
    width: 30px;
    height: 0;
    border-top: 1px;
    transition: v.$an;
    margin: -9px 10px auto;
    opacity: 100%;
  }
  &[type="checkbox"]:checked ~ .navBtn span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 23px) !important;
    color: #fff;
    border: 3.5px solid;
  }
  &[type="checkbox"]:checked ~ .navBtn span:nth-child(2) {
    transform: scale(0) !important;
    opacity: 0;
  }
  &[type="checkbox"]:checked ~ .navBtn span:nth-child(3) {
    transform: rotate(-45deg) translate(-17px, 4px) !important;
    color: #fff;
    border: 3.5px solid;
  }
}
/*
nb:iconShare ada di icon.css
====end nav Spoiler
*/
