@use "../var" as v;
.loading .loader {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vw;
    background: #8080808c;
    z-index: 99;
}
.loading .loader div {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid v.$bg;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
margin: 40vh auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
