<!DOCTYPE html>
<html lang="en" class="scroll-smooth selection:bg-blue-900 selection:text-white">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="home.css" />
  </head>
  <body class=" max-w-5xl m-auto bg-blue-100 ">
    <img src="/logo.png" alt="">
    {{ partial "home/search.html" . }}
    {{ partial "home/nav.html" . }}
    {{ partial "home/list.html" . }}
    {{ partial "home/footer.html" . }}
  </body>
</html>
