// code (belum diubah)
.post-body pre {
  code {
    color: #fff;
    /* warna huruf */
    font-size: 12px;
    /* ukuran huruf */
    max-height: 250px;
    line-height: 1.5em;
    display: block;
    background: none;
    border: none;
    padding: 10px 15px;
    font-family: 'source code pro',menlo,consolas,monaco,monospace;
    white-space: pre-wrap;
    overflow: auto;
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
  }
  background-color: #000;
  /* warna background */
  border-left: 5px solid #00008bcc;
  /* variasi border kiri */
  padding: 0;
  margin: .5em auto;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  position: relative;
  width: 100%;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  word-break: normal;
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}
