<div id="about">
<h2 class="head about">About</h2>
<div class="center">
  <!-- img -->
<a href="{{.Site.Params.host}}{{.Site.Params.img}}" target="_blank">
<img src="{{.Site.Params.host}}{{.Site.Params.thumb}}" alt="foto profile Alif Prihantoro">
</a> 

<!-- title -->
<h1>Alief Prihantoro</h1>
<h2 class="kedua">Front End Developer</h2>

<p>
now I'm trying to be a freelance and content creator. why did i do it? because it can help me to grow and many people know me. In terms of web design I prefer simple but professional. Like the tagline that I use, namely "Be simple, Unique, and usefully"
</p>
</div>

</div>
