@use "../var" as v;
.thisBtn {
  // btn new
  a {
    text-align: center;
    margin: 15px auto;
    width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    color: v.$bg;
    border: 2px solid v.$bg;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
  }

  a span {
    position: relative;
    z-index: 2;
    font-weight: 500;
  }

  a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: v.$bg;
    transition: all 1s;
    z-index: 0;
  }

  a:hover {
    color: #fff;
  }

  a:hover:after {
    width: 100%;
  }
}

span#btn-dark {
  position: absolute;
  right: 15px;
  transform: translate(0, 0) !important;
  z-index: 99999;
}
.btn-list {
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 0 5px;
    width: 40px;
    cursor: pointer;
    color: #fff;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: blue;
    display: flex;
    border-radius: 5px;
    text-align: center;
}
.btn-list-search,.btn-list-list {
  display:flex;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-list-search{
  margin: 15px 40px;
}
.btn-list-list{
.btn-list {
// padding: 5px;
width: 75px;
}
  margin: 15px 80px;
}
