@use "../var" as v;
// heading
.head {
  background: v.$bgl1;
  color: #fff;
  padding: 10px 0 10px 50px;
  text-align: left;
}

.head::before {
  content: "";
  padding: 15px;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-34px, 5px);
}
