@use "variable" as v;
//btn default
.btn {
  a {
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
  }
  &:hover {
    background-color: v.$bg3;
    border-color:v.$bg1;
  }
  background: rgb(255,255,255,.1);
  border: 2px solid #fff;
  padding: 10px;
  margin: 15px auto;
  border-radius: 15px;
  width: 50%;
}
// contact
.bungkusLisIcon {
  display: flex;
  padding: 5px 15px;
}
.infoIconList {
  padding: 15px;
  background: v.$bg3;
  height: 50px;
  font-weight: bold;
  color: #fff;
}
.bagian-bawah span {
  background-color: v.$bg1;
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  display: inline-block;
}
