{{ if not .IsHome }}
{{ $pageurl := .Permalink }}
<div class="shareTerbang">
  <div class="spoiler">
    <input type="checkbox" id="share">
    <div class="spoilerKonten sosmednav">
<a
  class="fb"
  title="Share this on Facebook"
  onclick="window.open('http://www.facebook.com/share.php?u={{ $pageurl }}');"
>
  <span class="btn-icon facebook"> facebook </span>
</a>
<a
  class="tw"
  title="Share this on Twitter"
  onclick="window.open('http://twitter.com/home?status={{ $pageurl }}');"
>
  <span class="btn-icon twitter">twitter</span>
</a>
<a
  class="wa"
  data-action="share/whatsapp/share"
  expr:href='"whatsapp://send?text=" + {{ .Title }} +"%20%2D%20" + {{ $pageurl }}'
>
  <span class="btn-icon tlp">wa</span>
  <a
    class="tg"
    expr:href='"tg://msg?text=" + {{ .Title }} +" -" + {{ $pageurl }}'
    rel="nofollow"
    target="_blank"
    title="Share on Telegram"
  >
    <span class="btn-icon telegram">telegram</span>
    {{ if .Params.image }}<a
      class="pinterest"
      title="Share this on Pinterest"
      onclick="window.open('https://pinterest.com/pin/create/button/?url=&media={{ .Params.image }}&description=');"
      >
    <span class="btn-icon pinterest">Pinterest</span>
    </a
    >{{end}}
    <a
      class="le"
      expr:href='"http://www.linkedin.com/shareArticle?mini=true&amp;url=" + data:post.url + "&amp;title=" + data:post.title + "&amp;summary=" + data:post.snippets'
      onclick='window.open(this.href,"popupwindow","status=0,height=500,width=500,resizable=0,top=50,left=100");return false;'
      rel="nofollow"
      target="_blank"
      title="Share on LinkEdin"
    >

    <span class="btn-icon linkedin">linkedin</span>
    </a>
    <!--<a class='tr' href='http://www.tumblr.com/share' onclick='window.open(this.href,"popupwindow","status=0,height=500,width=500,resizable=0,top=50,left=100");return false;' rel='nofollow' target='_blank'>-->
    <!--  <span class='tumblr' /></a>-->
    <a
      class="mail"
      title="Share this through Email"
      onclick="window.open('mailto:?&body={{ $pageurl }}');"
    >
    <span class="btn-icon gmail">gmail</span>
    </a></a
></a>
      <!--<a class='ln' expr:href='"https://timeline.line.me/social-plugin/share?url=" + data:post.url' target='_blank' title='Share On Line'>-->
    <!--  <span class='line' /></a>-->
    </div>
    <label for="share"><i class="iconShare"></i></label>
  </div>
</div>
{{end}}
