@use "../var" as v;
// pembungkus
.content {
  display: flex;
  border-radius: 5px;
  box-shadow: v.$sd;
  margin: 25px auto !important;
  padding: 15px;
  width: 80%;
}

// .myread {
//   display: grid;
//   width: 100%;
//   grid-template-columns: auto;
//   text-align: left;
// }

// tanggal
.myread .date {
  margin-right: 30px;
  width: 64px;
  text-align: center;
}

.myread .date .day {
  font-weight: 700;
  line-height: 0.45em;
  font-size: 3em;
  display: block;
  margin: 20px auto;
}

// hover
.myread a {
  &:hover {
    transform: translate(10px, -10px);
    color: #333;
  }
  color: v.$bg;
}

// jarak blog list-style-type: 
.responsive {
  margin-top: 50px ;
}
