@use "../variable" as v;
// ========= Header
.header {
  a {
    //logo
    position: absolute;//melayang
    top: 10px;//jarak atas
    left: 10px;//jarak bawah
    z-index: 99;
  }
  padding: 25px 0;
  width: 100%;
  position: fixed;//agar btn dark
  z-index: 5;
  background-color:v.$cl2;
  height: 50px;
  top:0;
}
